In [25]:
import pandas as pd

In [31]:
df = pd.read_csv('01/input.txt', skip_blank_lines=False)

In [46]:
df.head(20)

    inputs
0      NaN
1   3427.0
2   3273.0
3   5615.0
4   5943.0
5   3125.0
6   4245.0
7   4194.0
8   3243.0
9   4283.0
10  1790.0
11  5355.0
12  4239.0
13  5541.0
14     NaN
15  3850.0
16  5294.0
17  5393.0
18  2490.0
19  3231.0

In [53]:
l = []
l[0] = 3

IndexError: list assignment index out of range

In [54]:
result = 0
l = []
for line in range(df.size):
    if pd.isna(df['inputs'][line]):
        l.append(result)
        result = 0
    else:
        result += df['inputs'][line]

In [67]:
final = pd.DataFrame(l, columns=["values"])

In [58]:
final.max()[0]

68775.0

In [59]:
max(l)

68775.0

In [74]:
final.sort_values(by='values', axis=0, ascending=False).head(3).sum()[0]

202585.0