In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('input.csv', skip_blank_lines=False)

In [5]:
df

     opponent me
0           C  X
1           A  Y
2           C  Z
3           B  Y
4           C  Z
...       ... ..
2495        A  Y
2496        B  Y
2497        C  Y
2498        A  Z
2499        A  Y

[2500 rows x 2 columns]

In [6]:
def rpc(row):
    dic = {'X':1,'Y':2,'Z':3}
    if ((row[0] == 'A')&(row[1]=='X'))|((row[0] == 'B')&(row[1]=='Y'))|((row[0] == 'C')&(row[1]=='Z')):
        return dic[row[1]] + 3
    else:
        if row[0] == 'A':
            if row[1] == 'Y':
                return dic[row[1]] + 6
            else:
                return dic[row[1]]
        elif row[0] == 'B':
            if row['me'] == 'Z':
                return dic[row[1]] + 6
            else:
                return dic[row[1]]
        elif row[0] == 'C':
            if row['me'] == 'X':
                return dic[row[1]] + 6
            else:
                return dic[row[1]]

In [7]:
df['result'] = df.apply(rpc, axis=1)

In [8]:
df

     opponent me  result
0           C  X       7
1           A  Y       8
2           C  Z       6
3           B  Y       5
4           C  Z       6
...       ... ..     ...
2495        A  Y       8
2496        B  Y       5
2497        C  Y       2
2498        A  Z       3
2499        A  Y       8

[2500 rows x 3 columns]

In [9]:
df.result.sum()

12679

In [18]:
def rpc2(row):
    win =  {'A':2,'B':3,'C':1}
    draw = {'A':1,'B':2,'C':3}
    lose = {'A':3,'B':1,'C':2}
    if row[1] == 'X':
        # Must lose
        return lose[row[0]]
    
    elif row[1] == 'Y':
        # Must Draw
        return draw[row[0]] + 3
    
    elif row[1] == 'Z':
        # Must Win
        return win[row[0]] + 6

In [19]:
df['result2'] = df.apply(rpc2, axis=1)

In [22]:
df.result2.sum()

14470